.pointer-events-none {
  pointer-events: none
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.top-0 {
  top: 0px
}

.left-0 {
  left: 0px
}

.m-10 {
  margin: 2.5rem
}

.m-0 {
  margin: 0px
}

.m-2 {
  margin: 0.5rem
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.h-\[102\%\] {
  height: 102%
}

.h-\[150\%\] {
  height: 150%
}

.h-\[40px\] {
  height: 40px
}

.h-\[20px\] {
  height: 20px
}

.h-\[200px\] {
  height: 200px
}

.w-full {
  width: 100%
}

.w-\[80\%\] {
  width: 80%
}

.w-\[20\%\] {
  width: 20%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.overflow-hidden {
  overflow: hidden
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-r-full {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px
}

.border-2 {
  border-width: 2px
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(56 141 249 / var(--tw-border-opacity))
}

.border-fb {
  --tw-border-opacity: 1;
  border-color: rgb(66 103 178 / var(--tw-border-opacity))
}

.bg-disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(224 224 224 / var(--tw-bg-opacity))
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(56 141 249 / var(--tw-bg-opacity))
}

.bg-fb {
  --tw-bg-opacity: 1;
  background-color: rgb(66 103 178 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.p-0 {
  padding: 0px
}

.p-2 {
  padding: 0.5rem
}

.p-8 {
  padding: 2rem
}

.text-center {
  text-align: center
}

.font-semibold {
  font-weight: 600
}

.font-bold {
  font-weight: 700
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(56 141 249 / var(--tw-text-opacity))
}

.text-inherit {
  color: inherit
}

.text-fb {
  --tw-text-opacity: 1;
  color: rgb(66 103 178 / var(--tw-text-opacity))
}
